// Specific CSS for your home-page
body {
background-image: url("assets/bg.jpg");
height:100vh;
background-position: center;
background-size: cover;
}
.signup-card{
width: 50vw;
padding-top: 100px;
margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input{
  border-radius: 10px;
 background-color: #3C4142;
}
.password-toggle-button{
  border-radius: 10px;
  background-color: #3C4142;
  color:whitesmoke;
  opacity: 0.8;
}

/* Add a container to position the delete icon */
.task-design {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 70vw;
  margin: 0 auto 15px;
  position: relative; /* Add relative positioning to the card container */
}

.delete_update {
  position: absolute; /* Use absolute positioning for the delete icon */
  top: 0; /* Place it at the top of the card */
  right: 0; /* Place it at the right side of the card */
  padding: 10px; /* Add padding for some spacing */
  cursor: pointer; /* Make it a pointer for interaction */
}

.Tasktitle{
  padding-left:100px;

}
.today{
  color:rgba(51, 51, 224, 0.869)
}
.tomorrow{
  color:rgb(30, 154, 30)
}
.yesterday{
color: rgb(174, 174, 174)
}
.checkbox-wrapper-11 {
  --text: #414856;
  --check: #4F29F0;
  --disabled: #C3C8DE;
  --border-radius: 10px;
  border-radius: var(--border-radius);
  position: relative;
  padding: 5px;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
}
.checkbox-wrapper-11 label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: color 0.3s ease;
}
.checkbox-wrapper-11 label::before,
.checkbox-wrapper-11 label::after {
  content: "";
  position: absolute;
}
.checkbox-wrapper-11 label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}
.checkbox-wrapper-11 label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}
.checkbox-wrapper-11 input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
}
.checkbox-wrapper-11 input[type=checkbox]::before, .checkbox-wrapper-11 input[type=checkbox]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}
.checkbox-wrapper-11 input[type=checkbox]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}
.checkbox-wrapper-11 input[type=checkbox]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}
.checkbox-wrapper-11 input[type=checkbox]:checked::before {
  -webkit-animation: check-01-11 0.4s ease forwards;
          animation: check-01-11 0.4s ease forwards;
}
.checkbox-wrapper-11 input[type=checkbox]:checked::after {
  -webkit-animation: check-02-11 0.4s ease forwards;
          animation: check-02-11 0.4s ease forwards;
}
.checkbox-wrapper-11 input[type=checkbox]:checked + label {
  color: var(--disabled);
  -webkit-animation: move-11 0.3s ease 0.1s forwards;
          animation: move-11 0.3s ease 0.1s forwards;
}
.checkbox-wrapper-11 input[type=checkbox]:checked + label::before {
  background: var(--disabled);
  -webkit-animation: slice-11 0.4s ease forwards;
          animation: slice-11 0.4s ease forwards;
}
.checkbox-wrapper-11 input[type=checkbox]:checked + label::after {
  -webkit-animation: firework-11 0.5s ease forwards 0.1s;
          animation: firework-11 0.5s ease forwards 0.1s;
}

@-webkit-keyframes move-11 {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}

@keyframes move-11 {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}
@-webkit-keyframes slice-11 {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@keyframes slice-11 {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@-webkit-keyframes check-01-11 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes check-01-11 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@-webkit-keyframes check-02-11 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@keyframes check-02-11 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes firework-11 {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
  }
}
@keyframes firework-11 {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
  }

30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
  }
}




.tcard {
  position:relative;
  margin:0 auto;
  height: 20vh;
  width: 70%;
  margin-bottom: 40px;
  max-width: 700px;
  max-height:400px;
}
.tcard-body {
  padding: 40px;
  margin-top:15px;
}
.card-footer{
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 5px;
}
.quote-text{
  font-size: medium;
  font-family: georgia;
  font-style: italic;
}
.quoteg :hover{
 cursor: pointer;

}
.quoteg:hover + .hidden-text {
  display: block;
}
/* Target the tooltip content */
.tooltip-inner{
  background-color: rgb(217, 190, 35); /* Your custom tooltip text color */
}
