<h1>Editing monthly step</h1>

<%= render "form", monthly_step: @monthly_step %>

<br>

<div>
  <%= link_to "Show this monthly step", @monthly_step %> |
  <%= link_to "Back to monthly steps", monthly_steps_path %>
</div>
