/* Default styling for the select box */
.priority-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

/* Style for Low Priority option */
.priority-select option[value="Low Priority"] {
  background-color: green;
  color: white;
}

/* Style for Medium Priority option */
.priority-select option[value="Medium Priority"] {
  background-color: orange;
  color: white;
}

/* Style for High Priority option */
.priority-select option[value="High Priority"] {
  background-color: red;
  color: white;
}
.priority-select option:checked[value="High Priority"] {
  background-color: red;
}

.prio-style1{
  width: 40px;
  height: 10px;
  background-color: #00ff00;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 10px;
  margin-left: 20px;
  margin-top: 5px;
}
.prio-style2{
  width: 40px;
  height: 10px;
  background-color: #eaa505;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 10px;
  margin-left: 20px;
  margin-top: 5px;
}
.prio-style3{
  width: 40px;
  height: 10px;
  background-color: #db2c00;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 10px;
  margin-left: 20px;
  margin-top: 5px;
}
