<div id="<%= dom_id monthly_goal %>">




<div class="minicard mt-3 mx-2" data-bs-toggle="popover" data-bs-title=" <%= monthly_goal.title %>" data-bs-content="<%= monthly_goal.description%>" data-custom-popover="true" data-bs-placement="top" data-bs-custom-class="custom-popover">
<% if monthly_goal.priority== "Low Priority" %>
<div class="prio-style1"></div>
<% elsif monthly_goal.priority== "Medium Priority"%>
<div class="prio-style2"></div>
<% else %>
<div class="prio-style3"></div>
<% end %>
<p class="ms-4 ">
    <%= monthly_goal.title %><br>
    </p>





 </div>


</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));

  });
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

<style>
.popover  {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.custom-popover{
 --bs-popover-max-width: 600px;
  --bs-popover-border-color: var(--bd-violet-bg);
  --bs-popover-header-bg: var(--bd-violet-bg);
  --bs-popover-header-color: #191919;
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;

}


</style>
