<p style="color: green"><%= notice %></p>
<h1 >Monthly goals</h1>

<div class="d-flex justify-content-center">
<div class="card1">

  <% @monthly_goals.each do |monthly_goal| %>
    <%= render monthly_goal %>

  <% end %>
   <div class="minicard mt-3 mx-2" id="addmg">
<%= link_to new_monthly_goal_path do %>
  <img src="assets/addmonthlygoal.png" class="addmonthlygoal" width="50px" height="70px" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom">
<% end %>
   </div>
</div>
</div>
<script>
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
